h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .intro {
      font-style: italic;
  }

  .title {
    width: 80%;
    /* background-color: rgb(8, 161, 158); */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    color: white;
    box-shadow: 0 0 20px 0 rgba(13, 77, 29, 0.8);
    background: -webkit-linear-gradient(rgb(0, 255, 242), rgb(19, 85, 74), rgb(34, 55, 53));
 
 
  }